appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
Django==5.2.1
gunicorn==23.0.0
huggingface-hub==0.31.4
jsonpointer==2.1
matplotlib==3.9.2
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
safetensors==0.5.3
sentence-transformers==4.1.0
setuptools==80.9.0
sqlparse==0.5.3
sympy==1.14.0
tokenizers==0.21.1
torch==2.7.0
transformers==4.51.3
wheel==0.45.1
